.intro {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    color: red;
}
.intro p {
    font-size: 20px;
    padding-top: 0;
}
.intro h2 {
    margin-bottom: 0;
}

.main {
    text-align: center;
    padding-top: 15px;
}

.ending {
    text-align: center;
    padding-top: 10px;
    font-size: 10px;
}